#account-tabs .tab-container .nav-tabs {
  display: none;
}

#account-tabs .btn-link {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.tabs-wrapper #tabs-demo {
  border: none !important;
}

.tabs-wrapper #tabs-demo li,
.tabs-wrapper #tabs-demo li a {
  border: none !important;
}

.tabs-wrapper #tabs-demo .active a {
  border-bottom: 2px solid #918C8C !important;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

#account-tabs .tab-content {
  margin-top: -1px;
  background: transparent;
  border: none;
}
