<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
	<div class="col-md-12 nav-wrapper">
		<div class="navbar-header" style="width:100%;">
			<div class="opener-left-menu is-open">
				<span class="top"></span>
				<span class="middle"></span>
				<span class="bottom"></span>
			</div>
			<a href="#/" class="navbar-brand">
				<b>Cmp2</b>
			</a>

			<ul class="nav navbar-nav search-nav">
				<li>
					<div class="search">
						<span class="fa fa-search icon-search" style="font-size:23px;"></span>
						<div class="form-group form-animate-text">
							<input (typeaheadOnSelect)="typeaheadOnSelect($event)" [(ngModel)]="selected" [typeahead]="accounts" typeaheadOptionField="Name" typeaheadOptionsLimit="7" type="text" class="form-text" required>
							<span class="bar"></span>
							<label class="label-search">Type anywhere to <b>Search</b> </label>
						</div>
					</div>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right user-nav">
				<li class="user-name"><span>{{identity.display_name || 'Unknow User'}}</span></li>
				<li class="dropdown avatar-dropdown">
					<img src="../../../../assets/images/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
					<ul class="dropdown-menu user-dropdown">
						<li><a href="#/profile"><span class="fa fa-user"></span> My Profile</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- end: Header -->
<div class="container-fluid mimin-wrapper">

	<!-- start:Left Menu -->
	<div id="left-menu">
		<div class="sub-left-menu scroll">
			<ul class="nav nav-list">
				<li>
					<div class="left-bg"></div>
				</li>
				<li class="time">
					<h1 class="animated fadeInLeft">{{clock | async | date:'HH:mm'}}</h1>
					<p class="animated fadeInRight">{{clock | async | date:'fullDate'}}</p>
				</li>
				<li class="ripple">
					<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="fa-home fa"></span> Dashboard</a>
				</li>
				<li class="ripple">
					<a class="tree-toggle nav-header">
						<span class="fa-briefcase fa"></span> Accounts
						<span class="fa-angle-right fa right-arrow text-right"></span>
					</a>
					<ul class="nav nav-list tree">
						<li>
							<a routerLink="/search" routerLinkActive="active"><i class="fa fa-plus-circle"></i> Add Account</a>
						</li>
						<!-- <li>
							<input [(ngModel)]="search" type="text" name="search" placeholder="Search">
						</li> -->
						<li *ngFor="let account of accounts"><a routerLinkActive="active" [routerLink]="['/account', account.Id]">{{account.Name}}</a></li>

					</ul>
				</li>

			</ul>
		</div>
	</div>
	<!-- end: Left Menu -->
</div>

<script src="../../../assets/js/miminium.js"></script>
