.search input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search input[type=text]:focus {
    width: 100%;
}

.app-header {
  z-index: 900;
}
