<div id="home-background" [ngClass]="(image_src === '')? 'defaultBg':'imageBg'" [ngStyle]="{'background-image': (image_src !== '')? 'url(' + image_src + ')' : null}">
  <div class="row align-items-center justify-content-md-center">
    <div class="header col-12 text-center">
      <h1 class="time animated fadeInLeft">{{clock | async | date:'HH:mm'}}</h1>
      <p class="animated fadeInRight">{{clock | async | date:'fullDate'}}</p>
      <h1>{{greeting}}</h1>
    </div>
    <div class="col-7">
      <app-todolist></app-todolist>
    </div>
  </div>
</div>
