<div class="row" style=" padding: 20px;">
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading bg-white border-none">
        <h4><span *ngIf="forcastLoading" class="fa fa-spinner rotate" aria-hidden="true"></span>Forcast</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div *ngIf="forcastError">{{forcastError}}</div>
          <div [ngClass]="forcastClass()" *ngFor="let category of forcast">
            <div class="panel box-v1">
              <div class="panel-body text-center">
                <h1>{{category.amount | meganumber}}</h1>
                <p>{{category.ForecastCategoryName}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-todolist></app-todolist>
  </div>
  <div class="col-md-4">
    <app-weather></app-weather>
  </div>

</div>
