<div *ngIf="dashboard" class="row" style=" padding: 20px;">
  <div class="col-md-12">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="dashboardModal.show()">Update Dashboard</a></li>
        <li><a (click)="newReportModal.show()">Add Report</a></li>
        <li><a (click)="refreshDashboard()">Refresh Dashboard</a></li>
        <li><a (click)="deleteDashboard()">Delete Dashboard</a></li>
      </ul>
    </div>
    <h2>{{dashboard.title}}</h2>
  </div>

  <!-- Dashboard Top -->
  <div *ngIf="dashboard.top">
    <div *ngFor="let report of dashboard.top; let idx = index" class="col-md-12">
      <div class="panel">
        <div class="panel-heading bg-white border-none">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="updateReport(report)">Update Report</a></li>
              <li><a (click)="refreshReport(report)">Refresh Report</a></li>
              <li><a (click)="deleteReport('Top', idx)">Delete Report</a></li>
            </ul>
          </div>
          <h4 *ngIf="report.title"><span *ngIf="report.refreshing" class="fa fa-spinner rotate" aria-hidden="true"></span> {{report.title}}</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div *ngIf="report.error; else topdash">
              {{report.error}}
            </div>
            <ng-template #topdash>
              <div [ngClass]="topReportClass(report)" *ngFor="let row of report.data">
                <div class="panel box-v1">
                  <div class="panel-body text-center">
                    <h1>{{row[report.columns[1].key] | meganumber}}</h1>
                    <p>{{row[report.columns[0].key]}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dashboard Main -->
  <div class="col-md-8">
    <div *ngIf="dashboard.todo">
      <app-todolist></app-todolist>
    </div>
    <div *ngIf="dashboard.main" class="row">
      <div *ngFor="let report of dashboard.main; let idx = index" class="col-md-12">
        <div class="panel">
          <div class="panel-heading bg-white border-none">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a (click)="updateReport(report)">Update Report</a></li>
                <li><a (click)="refreshReport(report)">Refresh Report</a></li>
                <li><a (click)="deleteReport('Main', idx)">Delete Report</a></li>
              </ul>
            </div>
            <h4 *ngIf="report.title"><span *ngIf="report.refreshing" class="fa fa-spinner rotate" aria-hidden="true"></span> {{report.title}}</h4>
          </div>
          <div class="panel-body">
            <div *ngIf="report.error; else mainTable">
              {{report.error}}
            </div>
            <ng-template #mainTable>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th *ngFor="let col of report.columns">{{col.value}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of report.data">
                    <td *ngFor="let col of report.columns">
                      <a *ngIf="col.key === 'Id'; else elseBlock" [appOpenExternal]="sfLoginUrl + '/' + row[col.key]">{{ row[col.key] | shorten: 4: '...' }}</a>
                      <ng-template #elseBlock>{{ row[col.key] | meganumber }}</ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dashboard Right -->
  <div class="col-md-4">
    <div *ngIf="dashboard.weather">
      <app-weather></app-weather>
    </div>
    <div *ngIf="dashboard.right" class="row">
      <div *ngFor="let report of dashboard.right; let idx = index" class="col-md-12">
        <div class="panel">
          <div class="panel-heading bg-white border-none">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a (click)="updateReport(report)">Update Report</a></li>
                <li><a (click)="refreshReport(report)">Refresh Report</a></li>
                <li><a (click)="deleteReport('Right', idx)">Delete Report</a></li>
              </ul>
            </div>
            <h4 *ngIf="report.title">{{report.title}}</h4>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Report Modal -->
<div class="modal fade" bsModal #newReportModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Report</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngIf="!reportUpdating">
          <select class="form-control" name="Type" [(ngModel)]="newReportType">
            <option *ngFor="let type of reportTypes | enum" [value]="type.key">{{type.value}}</option>
          </select>
        </div>
        <div *ngIf="(newReportType && newReportType <= 2) || reportUpdating; else templates">
          <form [formGroup]="reportForm" (ngSubmit)="createReport(); newReportModal.hide()" novalidate>
            <div class="form-group">
              <label for="reportTitle">Report Title</label>
              <input id="reportTitle" type="text" formControlName="title" class="form-control" />
            </div>
            <div class="form-group">
              <label for="reportQuery">SOQL Query</label>
              <textarea id="reportQuery" type="text" formControlName="query" class="form-control"></textarea>
            </div>
            Columns
            <div formArrayName="columns" *ngFor="let col of reportForm.get('columns').controls; let i = index;">
              <div [formGroupName]="i" class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="key">Key</label>
                  <input type="text" class="form-control" formControlName="key" placeholder="Key">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="value">Value</label>
                  <input type="text" class="form-control" formControlName="value" placeholder="Value">
                </div>
                <div class="form-group">
                  <button (click)="removeColumn(i)" type="button" name="button" class="btn btn-default pull-right">-</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button (click)="addColumn()" type="button" name="button" class="btn btn-default">+</button>
            </div>
            <div class="form-group" style="height: 20px;">
              <button type="submit" name="button" [disabled]="!reportForm.valid" class="btn btn-primary pull-right">Create</button>
            </div>
          </form>
        </div>
        <ng-template #templates>
          <button (click)="addTemplateToDashboard()" type="button" name="button">Create</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Dashboard Modal -->
<div class="modal fade" bsModal #dashboardModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="dashboardModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Dashboard</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="dashboard">
          <div class="form-group">
            <label for="exampleInputEmail1">Dashboard Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="dashboard.title">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateDashboard(); dashboardModal.hide()">Update</button>
      </div>
    </div>
  </div>
</div>
