.nav-tabs-v5 .sf .nav-link {
	background: url('../../../assets/images/SFDC_logo.png');
	background-size: 70px;
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position-y: 12px;
}
