<div id="content" class="search-v1">
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-12">
        <div class="input-group">
          <input ng-model="search" type="text" class="form-control" aria-label="...">
          <div class="input-group-btn">
            <button ng-click="searchAccount(search)" type="button" class="btn btn-default" aria-haspopup="true">Search</button>
          </div>
          <!-- /btn-group -->
        </div>
        <!-- /input-group -->
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-12 tabs-area box-shadow-none">
      <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">
        <div role="tabpanel" class="tab-pane search-v1-menu1 fade active in" id="tabs-demo7-area1" aria-labelledby="tabs-demo7-area1">
          <h4>{{options.length}} results found for: “{{search}}”</h4>

          <div class="col-md-6 padding-0">
            <div ng-repeat="option in options" class="media">
              <div class="media-body">
                <a ng-click="loadAccount(option.Id)" class="media-heading">{{option.Name}}</a>
                <p>{{option.Description}}</p>
                <span class="label label-default">{{option.Industry}}</span>
                <span class="label label-default">{{option.Owner.FirstName}} {{option.Owner.LastName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
