<div id="content">
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-12 col-xl-12">
        <h3 class="animated fadeInLeft">
          {{identity.display_name}}
        </h3>
        <ul class="list-unstyled user_data">
          <li>
            <i class="fa fa-map-marker user-profile-icon"></i>
            {{identity.addr_street}},
            {{identity.addr_zip}},
            {{identity.addr_city}}
          </li>
        </ul>
        <a class="btn btn-success pull-right" ng-click="updateIdentity()">
          <i class="fa fa-edit m-right-xs"></i>Update Profile
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding:20px;">
    <div class="col-md-12 tabs-area">
      <div class="liner">
        <uib-tabset>
          <uib-tab index="0" heading="Sales Force" class="sf">
            <div class="" ng-include=" 'views/profile_sf.html' "></div>
          </uib-tab>
          <uib-tab index="1" heading="Settings">
            <div class="" ng-include=" 'views/profile_settings.html' "></div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.nav-tabs').addClass('nav-tabs-v5');
    $('.tab-content').addClass('tab-content-v5');
  });
</script>
