<div id="content">
  <div class="panel-body">
    <div class="col-md-3">
      <button id="compose" type="button" class="btn btn-sm btn-success btn-block" data-toggle="modal" data-target="#myModal">
	      COMPOSE
	    </button>
      <ul class="mini-timeline">
        <li class="mini-timeline-highlight" ng-repeat="template in templates | orderBy:'formatDate(creationDate).format()' track by $index">

          <div class="mini-timeline-panel">
            <a ng-click="loadTemplate(template)">
              <h5 class="time">{{formatDate(template.lastUpdate).fromNow(s)}}</h5>
              <p>{{template.title}}</p>
            </a>
          </div>

        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ng-if="template">
		<h4>{{template.title}}</h4>
        <button ng-click="deleteTemplate(template)" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash">
	        <i class="fa fa-trash-o"></i>
	      </button>
        <input type="checkbox" ng-change="changeAutosave()" ng-model="autosave"> Autosave
        <button ng-if="!autosave && changed" ng-click="save()" class="btn btn-success">Save</button>
        <div ng-class="changed ? 'text-warning' : 'text-success'" class="pull-right">
          <span ng-class="changed ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon" aria-hidden="true"></span> Last Saved : {{formatDate(lastSaved).fromNow(s)}}
        </div>
      </div>
      <textarea id="editor"></textarea>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create a new template</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Template Title</label>
            <input type="text" ng-model="newTemplate" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="createTemplate(newTemplate)" data-dismiss="modal" class="btn btn-primary">Create Template</button>
      </div>
    </div>
  </div>
</div>
